<!-- 第一级 -->
<!--<ul class="collapsible" data-collapsible="accordion">-->
<!--<li>-->
<!--<div class="collapsible-header teal one waves-effect waves-light">在线手册<i class="fa fa-file-text-o"></i></div>-->
<!--<div class="collapsible-body">-->
<!--&lt;!&ndash; 第二级 &ndash;&gt;-->
<!--<ul class="collapsible" data-collapsible="accordion">-->
<!--<li>-->
<!--<div class="collapsible-header waves-effect waves-teal two">php手册<i class="fa fa-caret-square-o-down"  ></i></div>-->
<!--<div class="collapsible-body">-->
<!--<div class="collection">-->
<!--<a targetjump href="#a1" class="collection-item">第一章：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</a>-->
<!--<a targetjump href="#a2" class="collection-item active">第二章：啊啊啊啊啊啊</a>-->
<!--<a targetjump href="#a3" class="collection-item">第三章：啊啊啊啊啊啊</a>-->
<!--<a targetjump href="#a4" class="collection-item">第四章：啊啊啊啊啊啊</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<div class="collapsible-header waves-effect waves-teal two">javascript手册<i class="fa fa-caret-square-o-down"  ></i></div>-->
<!--<div class="collapsible-body">-->
<!--<div class="collection">-->
<!--<a href="#!" class="collection-item">第一章：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item active">第二章：啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item">第三章：啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item">第四章：啊啊啊啊啊啊</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<div class="collapsible-header waves-effect waves-teal two">node手册<i class="fa fa-caret-square-o-down"  ></i></div>-->
<!--<div class="collapsible-body">-->
<!--<div class="collection">-->
<!--<a href="#!" class="collection-item">第一章：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item active">第二章：啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item">第三章：啊啊啊啊啊啊</a>-->
<!--<a href="#!" class="collection-item">第四章：啊啊啊啊啊啊</a>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<div class="collapsible-header teal one waves-effect waves-light">其他手册<i class="fa fa-file-text-o"></i></div>-->
<!--<div class="collapsible-body">-->
<!--<ul class="collapsible" data-collapsible="accordion">-->
<!--<li>-->
<!--<div class="collapsible-header waves-effect waves-teal two">在线手册<i class="fa fa-caret-square-o-down"  ></i></div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->